.user_header{
    background-color: #1D1D1D !important;
    position: relative;
    z-index: 9999;
    height: 2.5rem;
    .menuBtn{
        display: block;
        width: 2.5rem;
        height: 2.5rem;
        background-color: #ccc;
        background: url('/menuBtn.png');
        background-size: 2.5rem;
        margin-left: .25rem;
        position: absolute;
    }
    .nav-logo{
        display: block;
        width: 2.5rem;
        height: 2.5rem;
        background: url('/nav-logo.png');
        background-size: 2.55rem;
        margin: 0 auto;
        position: relative;
    }
}
.ant-drawer-body{
    margin-top: 2.5rem;
    padding: 0;
}
.drawer-box{
    height: 3.6rem;
    display: flex;
    .drawer-items{
        flex: 1;
        height: 100%;
        color: #ccc;
        position: relative;
        overflow: hidden;
        .drawer-items-icon{
            width: 80%;
            height: 80%;
            margin: 0 auto;
            background: url('/nav-icons.png');
            background-size: 120%;
            transform: translateX(-10%);
        }
        p{
            text-align: center;
            font-size: 10px;
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    }
}